dist: jammy
language: java
jdk:
- openjdk17
before_install:
- sudo apt-get update
- sudo apt-get install -y unzip iproute2 libva-drm2 libva-x11-2 libvdpau-dev ffmpeg
- curl -L "https://drive.usercontent.google.com/download?id=1Gp3LTFvG4arbXWFiGrQTPYw2CUEuKhf5&export=download&confirm=t" -o "webrtc-load-test-tool-2.9.1-SNAPSHOT.zip"
- unzip webrtc-load-test-tool-2.9.1-SNAPSHOT.zip
- mkdir ~/test
- mv -r webrtc-load-test ~/test
- wget https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/119.0.6045.105/linux64/chromedriver-linux64.zip
- unzip chromedriver-linux64.zip
- sudo cp chromedriver-linux64/chromedriver /tmp
- ls -al /tmp
- pip3 install selenium==4.14
- pip3 install requests
- pip3 show selenium 
- openssl aes-256-cbc -K $encrypted_fb8a77c74dbd_key -iv $encrypted_fb8a77c74dbd_iv
  -in codesigning.asc.enc -out ./codesigning.asc -d
- sudo apt-get update
- export GPG_TTY=$(tty)
- gpg2 --batch --fast-import codesigning.asc
- nvm install --lts
- git clone --depth=1 https://github.com/ant-media/ant-media-server-parent.git;
- cd ant-media-server-parent;
- mvn clean install -DskipTests -Dmaven.javadoc.skip=true -Dgpg.skip=true --quiet;
- cd ..;
cache:
  directories:
  - react/node_modules
  - "$HOME/.m2/repository"
script:
- cd react
- sed -i "s#//placeholder for peerconnection_config#peerconnection_config:{\"iceServers\":[{\"urls\":\"turn:$TURN_URL\",\"username\":\"$TURN_USER\",\"credential\":\"$TURN_PASSWORD\"}],\"sdpSemantics\":\"unified-plan\"},#" src/pages/AntMedia.js
- npm install
- npm run build
- cd ..
- cp -a react/build/. webapp/src/main/webapp
- cd webapp
- mvn clean install -DskipTests -Dgpg.skip=true --quiet
# run unit tests
- cd ..
- cd react
- npm install codecov --save-dev
- npm test
- npm run upload-coverage
# run functional tests
- cd ../test
- python3 test_main.py $SERVER_URL $AMS_USER_NAME $AMS_PASSWORD ../webapp/target/*.war
- cd ../webapp

deploy:
  - provider: script
    script: "mvn deploy -DskipTests --quiet --settings mvn-settings.xml"
    skip_cleanup: true
    on:
      tags: false
      branch: main
